body {
    background-color: #274259;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

#container {
    background-color: #A3B2BF;
    max-width: 950px;
    margin: 30px auto;
    border: 4px solid #D9AF62;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}


header {
    text-align: center;
    padding: 40px 0;
}

header h1 {
    color: #274259;
    font-size: 55px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}


nav {
    border-top: 4px solid #D9AF62;
    border-bottom: 4px solid #D9AF62;
    padding: 20px 0;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    background-color: #274259;
    color: #D9AF62;
    text-align: center;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid transparent;
    
}

nav a:hover {
    background-color: #D9AF62;
    color: #274259;
    border: 2px solid #274259;

}


main {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 20px auto;
    padding: 25px;
    border-radius: 20px;
    border: 4px solid #D9AF62;
}

.content-wrapper {
    display: flex;
    gap: 25px;
    align-items: flex-start;
}

section {
    flex: 2;
    text-align: left;
}

aside {
    flex: 1;
    background-color: #D9AF62;
    padding: 20px;
    border-radius: 15px;
    color: #274259;
    border: 2px solid #A69580;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


h2, h3 {
    color: #274259;
    text-align: center;
}

section h3 {
    text-align: left;
}

p {
    margin-bottom: 15px;
    color: #1a2d3d;
}

ul {
    list-style-position: inside;
    color: #1a2d3d;
}


#home-main, #history-section, #destination-list, #booking-details {

}

.sidebar-info h3 {
    margin-top: 0;
    color: #274259;
    text-decoration: underline;
}

.links {
    text-align: center;
    font-size: 18px;
    background-color: #D9AF62;
    width: 80%;
    margin: 30px auto;
    border: 4px dashed #A69580;
    padding: 15px;
    border-radius: 20px;
}

.links a {
    color: #274259;
    font-weight: bold;
}

.links a:hover {
    text-decoration: none;
    color: #fff;
}


footer {
    padding: 30px 0;
    text-align: center;
    border-top: 4px solid #D9AF62;
    color: #274259;
    font-weight: bold;
    font-size: 0.9em;
}