body {
    background-color: #274259;
}

#container {
    background-color: #A3B2BF;
    width: 950px;
    margin: 20px auto;
    border: 4px solid #D9AF62;
    padding: 20px;
    border-radius: 20px;
}

header {
    text-align: center;
    padding: 50px;
}

header h1 {
    color: #274259;
    font-size: 50px;
}

nav {
    text-align: center;
    font-size: 20px;
    border-top: 4px solid #D9AF62;
    border-bottom: 4px solid #D9AF62;
    padding: 20px 0;
}

nav a {
    color:#274259;
    text-align: center;
    padding: 10px 15px;

}

nav a:hover {
    color:#D9AF62;
    text-decoration: none;
}

main {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    font-size: 18px;
    border: 4px solid #D9AF62;

}

main h2 {
    text-align: center;
    color: #274259;
}

main h3 {
    text-align: center;
    color: #274259;
}

main img{
    display: block;
    margin: 20px auto;
    width: 600px;
    border-radius: 20px;
}

ul {
    list-style-position: inside;
    text-align: center;
    padding-left: 0;

}

.links {
    text-align: center;
    font-size: 18px;
    background-color: #D9AF62;
    width: 750px;
    margin: 20px auto;
    border: 4px dashed #A69580;
    padding: 10px;
    border-radius: 20px;
}

.links a {
    color: #274259;
    
}

.links a:hover {
    color:#A3B2BF;
    text-decoration: none;
}

footer {
    padding: 40px 0;
    text-align: center;
    border-top: 4px solid #D9AF62;
}